<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chivas.customdraw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.act.CustomDrawMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.act.group.ViewGroupActivity" />

        <activity android:name=".view.act.group.FlowLayoutActivity1" />

        <activity android:name=".view.act.group.FlowLayoutActivity2" />

        <activity android:name=".view.act.group.FlowLayoutActivity3" />

        <activity android:name=".view.act.view.ViewActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".view.act.view.CanvasDrawActivity" />

        <activity android:name=".view.act.view.XferModeActivity" />

        <activity android:name=".view.act.view.CanvasTransformationActivity" />

        <activity android:name=".view.act.view.CanvasStackActivity" />

        <activity android:name=".view.act.view.CanvasComposeActivity" />

        <activity android:name=".view.act.view.BitmapDrawActivity" />

        <activity android:name=".view.act.view.MatrixActivity" />

        <activity android:name=".view.act.view.SelfDrawableActivity" />

        <activity android:name=".view.act.view.CommonImgEffectActivity" />

    </application>

</manifest>